<div class="topscoll">
 <div class="pre-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 additional-nav">
                    <ul class="list-unstyled list-inline pull-right" style=" float:left !important;">
                    	<li><a href="login-page.html">注册</a></li>
                        <li><a href="login-page.html">登录</a></li>
                        <li><a href="checkout.html">结账</a></li>
                        <li><a href="#">我的账户</a></li>
                        <li><a href="#">我的收藏</a></li> 
                    </ul>
                </div><div class="col-md-6 col-sm-6 additional-shop-info">
                    <ul class="list-unstyled list-inline" style=" float:right !important;">
                        <li><i class="fa fa-phone"></i><span>87654321</span></li>
                        <li class="langs-block">
                            <a href="javascript:void(0);" class="current">中文 <i class="fa fa-angle-down"></i></a>
                            <div class="langs-block-others-wrapper"><div class="langs-block-others">
                              <a href="javascript:void(0);">英语</a>
                            </div></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>        
    </div>

    <!-- BEGIN HEADER -->
  <div role="navigation" class="navbar header no-margin">
        <div class="container">
            <div class="navbar-header">
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <a href="index.html" class="navbar-brand"><img src="assets/img/logo_red.png" alt="大坝生态农业"></a><!-- LOGO -->
            </div>
            <!-- BEGIN CART -->
            <div class="cart-block">
                <div class="cart-info">
                    <a href="javascript:void(0);" class="cart-info-value">11</a>
                </div>
                <a href="#"><i class="fa fa-shopping-cart"></i></a>
                <!-- BEGIN CART CONTENT -->
                <div class="cart-content-wrapper">
                  <div class="cart-content">
                    <ul class="scroller" style="height: 250px;">
                      <li>
                        <a href="item.html"><img src="assets/temp/cart-img.jpg"  width="37" height="34"></a>
                        <span class="cart-content-count">x 1</span>
                        <strong><a href="item.html">乡里腊肉</a></strong>
                        <em>￥123</em>
                        <a href="javascript:void(0);" class="del-goods"><i class="fa fa-times"></i></a>
                      </li>
                      <li>
                       <a href="item.html"><img src="assets/temp/cart-img.jpg"  width="37" height="34"></a>
                        <span class="cart-content-count">x 1</span>
                        <strong><a href="item.html">乡里腊肉</a></strong>
                        <em>￥123</em>
                        <a href="javascript:void(0);" class="del-goods"><i class="fa fa-times"></i></a>
                      </li>
                      <li>
                        <a href="item.html"><img src="assets/temp/cart-img.jpg"  width="37" height="34"></a>
                        <span class="cart-content-count">x 1</span>
                        <strong><a href="item.html">乡里腊肉</a></strong>
                        <em>￥123</em>
                        <a href="javascript:void(0);" class="del-goods"><i class="fa fa-times"></i></a>
                      </li>
                      <li>
                        <a href="item.html"><img src="assets/temp/cart-img.jpg"  width="37" height="34"></a>
                        <span class="cart-content-count">x 1</span>
                        <strong><a href="item.html">乡里腊肉</a></strong>
                        <em>￥123</em>
                        <a href="javascript:void(0);" class="del-goods"><i class="fa fa-times"></i></a>
                      </li>
                      <li>
                        <a href="item.html"><img src="assets/temp/cart-img.jpg"  width="37" height="34"></a>
                        <span class="cart-content-count">x 1</span>
                        <strong><a href="item.html">乡里腊肉</a></strong>
                        <em>￥123</em>
                        <a href="javascript:void(0);" class="del-goods"><i class="fa fa-times"></i></a>
                      </li>
                      <li>
                       <a href="item.html"><img src="assets/temp/cart-img.jpg" width="37" height="34"></a>
                        <span class="cart-content-count">x 1</span>
                        <strong><a href="item.html">乡里腊肉</a></strong>
                        <em>￥123</em>
                        <a href="javascript:void(0);" class="del-goods"><i class="fa fa-times"></i></a>
                      </li>
                      <li>
                        <a href="item.html"><img src="assets/temp/cart-img.jpg"  width="37" height="34"></a>
                        <span class="cart-content-count">x 1</span>
                        <strong><a href="item.html">乡里腊肉</a></strong>
                        <em>￥123</em>
                        <a href="javascript:void(0);" class="del-goods"><i class="fa fa-times"></i></a>
                      </li>
                      <li>
                        <a href="item.html"><img src="assets/temp/cart-img.jpg"  width="37" height="34"></a>
                        <span class="cart-content-count">x 1</span>
                        <strong><a href="item.html">乡里腊肉</a></strong>
                        <em>￥123</em>
                        <a href="javascript:void(0);" class="del-goods"><i class="fa fa-times"></i></a>
                      </li>
                    </ul>
                    <div class="text-right">
                      <a href="shopping-cart.html" class="btn btn-default">查看购物车</a>
                      <a href="checkout.html" class="btn btn-primary">结账付款</a>
                    </div>
                  </div>
                </div>
                <!-- END CART CONTENT -->
            </div>
            <!-- END CART -->
            <!-- BEGIN NAVIGATION -->
            <div class="collapse navbar-collapse mega-menu">
                <ul class="nav navbar-nav">
                	<li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" data-delay="0" data-close-others="false" data-target="#" href="#">
                        网站地图
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <!-- BEGIN DROPDOWN MENU -->
                      <ul class="dropdown-menu" aria-labelledby="mega-menu">
                        <li>
                          <div class="nav-content">
                            <!-- BEGIN DROPDOWN MENU - COLUMN -->
                            <div class="nav-content-col">
                              <h3>熏腊制品</h3>
                              <ul>
                                <li><a href="#">烟熏腊肉</a></li>
                                <li><a href="#">生态干鱼</a></li>
                                <li><a href="#">腊肠</a></li>
                                <li><a href="#">酱板鸭</a></li>
                              </ul>
                            </div>
                            <!-- END DROPDOWN MENU - COLUMN -->
                            <!-- BEGIN DROPDOWN MENU - COLUMN -->
                            <div class="nav-content-col">
                              <h3>鲜活水产</h3>
                              <ul>
                                <li><a href="#">黄材中华鲟</a></li>
                                <li><a href="#">大龙虾</a></li>
                                <li><a href="#">皇帝蟹</a></li>
                                <li><a href="#">三文鱼</a></li>
                                <li><a href="#">黄鲳</a></li>
                                <li><a href="#">甲鱼</a></li>
                                <li><a href="#">黄鸭叫</a></li>
                                <li><a href="#">泥鳅/黄鳝</a></li>
                              </ul>
                            </div>
                            <!-- END DROPDOWN MENU - COLUMN -->
                            <!-- BEGIN DROPDOWN MENU - COLUMN -->
                            <div class="nav-content-col">
                              <h3>新品上市</h3>
                              <ul>
                                <li><a href="#">黄材中华鲟</a></li>
                                <li><a href="#">生态干鱼</a></li>
                                <li><a href="#">烟熏腊肉</a></li>
                              </ul>

                              <h3>热卖商品</h3>
                              <ul>
                                <li><a href="#">黄鸭叫</a></li>
                                <li><a href="#">泥鳅/黄鳝</a></li>
                              </ul>
                            </div>
                            <!-- END DROPDOWN MENU - COLUMN -->
                            <!-- BEGIN DROPDOWN MENU - BRANDS -->
                            <!--<div class="nav-brands">
                              <ul>
                                <li><a href="#"><img title="esprit" alt="esprit" src="assets/temp/brands/esprit.jpg"></a></li>
                                <li><a href="#"><img title="gap" alt="gap" src="assets/temp/brands/gap.jpg"></a></li>
                                <li><a href="#"><img title="next" alt="next" src="assets/temp/brands/next.jpg"></a></li>
                                <li><a href="#"><img title="puma" alt="puma" src="assets/temp/brands/puma.jpg"></a></li>
                                <li><a href="#"><img title="zara" alt="zara" src="assets/temp/brands/zara.jpg"></a></li>
                              </ul>
                            </div>-->
                            <!-- END DROPDOWN MENU - BRANDS -->
                          </div>
                        </li>
                      </ul>
                      <!-- END DROPDOWN MENU -->
                    </li>
                	<li><a href="#">官网首页</a></li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" data-delay="0" data-close-others="false" data-target="#" href="#">
                        我的大坝
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <!-- BEGIN DROPDOWN MENU -->
                      <ul class="dropdown-menu">
                        <li><a href="order-form.html">我的订单</a></li>
                        <li><a href="order-form.html">待处理订单</a></li>
                        <li><a href="order-form.html">我的关注</a></li>
                        <li><a href="order-form.html">退货换货</a></li>
                      </ul>
                      <!-- END DROPDOWN MENU -->
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" data-delay="0" data-close-others="false" data-target="#" href="#">
                        手机大坝
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <!-- BEGIN DROPDOWN MENU -->
                      <ul class="dropdown-menu">
                  	<li><a href="#">手机用户首次下单买100送30</a></li>
                    <li class="divider"></li>
                    <li><a href="#">android客户端下载</a></li>
                    <li><a href="#"><img src="images/tuo_ma.png" class="tuo_ma"></a></li>
                    <li class="divider"></li>
                    <li><a href="#">ios客户端下载客户端</a></li>
                    <li><a href="#"><img src="images/tuo_ma.png" class="tuo_ma"></a></li>
                  </ul>
                      <!-- END DROPDOWN MENU -->
                    </li>
                     <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" data-delay="0" data-close-others="false" data-target="#" href="#">
                        新品上市
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <!-- BEGIN DROPDOWN MENU -->
                      <ul class="dropdown-menu" aria-labelledby="mega-menu-catalogue">
                        <li>
                          <div class="nav-content">
                            <div class="product-item">
                              <div class="pi-img-wrapper">
                                <a href="item.html"><img src="assets/temp/products/model4.jpg" class="img-responsive" alt="Berry Lace Dress"></a>
                              </div>
                              <h3><a href="item.html">黄材中华鲟</a></h3>
                              <div class="pi-price">￥29.00</div>
                              <a href="#" class="btn btn-default add2cart">添加到购物车</a>
                            </div>
                            <div class="product-item">
                              <div class="pi-img-wrapper">
                                <a href="item.html"><img src="assets/temp/products/model3.jpg" class="img-responsive" alt="Berry Lace Dress"></a>
                              </div>
                              <h3><a href="item.html">乡里腊肉</a></h3>
                              <div class="pi-price">￥52.00</div>
                              <a href="#" class="btn btn-default add2cart">添加到购物车</a>
                            </div>
                            <div class="product-item">
                              <div class="pi-img-wrapper">
                                <a href="item.html"><img src="assets/temp/products/model7.jpg" class="img-responsive" alt="Berry Lace Dress"></a>
                              </div>
                              <h3><a href="item.html">生态干鱼</a></h3>
                              <div class="pi-price">￥36.00</div>
                              <a href="#" class="btn btn-default add2cart">添加到购物车</a>
                            </div>
                          </div>
                        </li>
                      </ul>
                      <!-- END DROPDOWN MENU -->
                    </li>
                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" data-delay="0" data-close-others="false" data-target="#" href="#">
                        客服服务
                        <i class="fa fa-angle-down"></i>
                      </a>
                      <!-- BEGIN DROPDOWN MENU -->
                      <ul class="dropdown-menu">
                        <li><a href="#">关于我们</a></li>
                        <li><a href="#">售后服务</a></li>
                        <li class="dropdown-submenu">
                          <a href="#">在线客服 <i class="fa fa-angle-right"></i></a>
                          <ul class="dropdown-menu">
                            <li><a href="#">联系电话：0731-87654321</a></li>
                            <li><a href="#">企业QQ：888888</a></li>
                          </ul>
                        </li>
                        <li><a href="#">意见建议</a></li>
                        <li><a href="#">客服邮箱</a></li>
                      </ul>
                      <!-- END DROPDOWN MENU -->
                    </li>
                   
                    <!-- BEGIN TOP SEARCH -->
                    <li class="menu-search">
                        <span class="sep"></span>
                        <i class="fa fa-search search-btn"></i>
                        <div class="search-box">
                            <form action="#">
                                <div class="input-group">
                                    <input type="text" placeholder="查找" class="form-control">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">查找</button>
                                    </span>
                                </div>
                            </form>
                        </div> 
                    </li>
                    <!-- END TOP SEARCH -->
                </ul>
            </div>
            <!-- END NAVIGATION -->
        </div>
    </div>
    
</div>